name: Build Kira-Kafka

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential

      - name: Build appendLog module
        run: make -C src/appendLog

      - name: Build mmap module
        run: make -C src/mmap

      - name: Build partitioning module
        run: make -C src/partitioning
